In [10]:
#write a function takes two-word string and return true if both words begin with same letter 
def animal(t):
    wrd= t.lower().split()
    return wrd[0]==wrd[1]

In [11]:
 animal('Lvl lvl')

True

In [12]:
animal('pin nip')

False

In [32]:
#given two integer return true if sum of integer is 20 or if one of the integer is 20,if not return false
def makestwenty(n,n2):
    return (n+n2)==20 or n==20 or n2==20

In [36]:
makestwenty(14,6)

True

In [37]:
makestwenty(12,20)

True

In [25]:
#write a program that capitalize first and fourth letter of a name
#def frstfour(name):
    #first=name[0].upper()
    #second=name[3].upper()
    #inb1=name[1:2]
    #inb2=name[4:]
    #print(first+inb1+second+inb2)
    # BETTER WAY
def frstfour(name):
    if len(name)>3:
        return name [0].upper()+name[1:3]+name[3:9].capitalize()
    else:
        return 'name is too short'

In [26]:
frstfour('mr dolandtrump')

'Mr Doland'

In [38]:
#given a sentene return a sentence with reversed order
def reverse(name):
    word=name.split()
    reverse=word[::-1]
    return reverse

In [39]:
reverse('he ye to tutty')

['tutty', 'to', 'ye', 'he']

In [88]:
def almost(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [7]:
almost(102)

True

In [15]:
#
def has33(n):
    for i in range(0,len(n)-1):
        if n[i]==3 and n[i+1]==3:
            return True
        else:
            pass
    return False

In [16]:
has33([4,3,3])

True

In [25]:
l=([12,3,4,4])
len(l)

4

In [34]:
def paperdoll(h):
    res=''
    for char in h:
        res+=char*3
        
    return res

In [35]:
h='hello'
paperdoll(h)

'hhheeellllllooo'

In [61]:
blackjack(1,2,3)

6

In [4]:
def blackjack(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=32:
        return sum([a,b,c])-10
    else:
        return 'BUST'

In [5]:
blackjack(11,9,9)

19

In [2]:

def summer69(a):
    total=0
    add=True
    for i in a:
        while add:
            if i !=6:
                total+=i
                break
            else:
                add=False
        while not add:
            if i!=9:
                break
            else:
                add=True
                break
    return total

In [3]:
summer69([1,2,3,6,9,44])

50

In [64]:
def spy_game(n):
    code=[0,0,7,'x']
    for num in n:
        if num!=code[0]:
            print (num) 
        else:
            num==code[0]
            code.pop(0)
            
    return len(code)==0            # ie if there is any no or character left in code variable after popping if then return true

In [65]:
n=[76,0,5,0,7,'x']
spy_game(n)

76
5

True

In [99]:
def sppy(num):
    for i in range(0,100):
        if num[i][0] == 0 and num[i+1]==0 and  num[i+2]==7:
            return True
        else:

            return False

In [58]:
n=['6','0','5','2','6']

In [59]:
def spy_ali(*n):
    for i in n:
        while True:
            if n[i]==0:
                print(n)
                break
            else:
                n[i]==7
                print(n)
                break 
        return n

In [40]:
def cnt_prime(num):
    # check for 0 and 1
    if num<2:
        pass
    # 2 or greater
    # store our primes no 
    prime =[2]
    # counter going up to input num
    x =3
    z=1
    while x <=num:         
        for y in  range(3,x,2):  #check if x is prime
            if x%y==0:
                z+=1
                print(z)
                x+=2
                break
        else:
            prime.append(x)
            x+=2
    print(prime)
    return len(prime)

In [41]:
cnt_prime(97)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [42]:
%%writefile my_file.txt
    one on 1
    two on 2
    three on 3

Overwriting my_file.txt

In [43]:
with open('my_file.txt',mode='a') as g:   
    g.write('    four on 4')

In [44]:
with open('my_file.txt',mode='r') as g:
    print(g.read())

    one on 1
    two on 2
    three on 3
    four on 4

In [45]:
with open('my_file.txt',mode='w') as g:
    g.write('I created a new file')

In [46]:
with open('my_file.txt',mode='r') as g:
    print(g.read())

I created a new file

In [47]:
def square(n):
    return n**2

In [48]:
#map func
nums =[1,2,3,4,5]
for i in map(square,nums):
    print(i)

1
4
9
16
25

In [49]:
list(map(square,nums))

[1, 4, 9, 16, 25]

In [13]:
def spline(mystr):
    if len(mystr)%2==0:
        return 'EVEN'
    else:
        return mystr[0]
        return len(mystr)

In [14]:
names=['andu','eva','chom','chuted']
spline(names)

'EVEN'

In [78]:
list (map(spline,names))#what Map func is doing here that it assign every str name of variable names to spline function 
                        #1individually

['EVEN', 'e', 'EVEN', 'EVEN']

In [8]:
nums=[1,2,3,4,5,6]
def chk_evn(n):
    return n%2==0

In [6]:

    for i in filter(chk_evn,nums):
        print(i)

2
4
6

In [7]:
list(filter(chk_evn,nums))

[2, 4, 6]

In [8]:
list(map(chk_evn,nums))

[False, True, False, True, False, True]

In [1]:
def square(n):
    return n**2

In [6]:
squr=lambda num:num**2
squr(5)

25

In [10]:
list(map (lambda num:num**2,nums))

[1, 4, 9, 16, 25, 36]

In [11]:
list(filter(lambda num:num%2==0,nums))

[2, 4, 6]

In [5]:
name=['he ye to tutty']

In [7]:
list(map(lambda x:x[::-1],name))

['yttut ot ey eh']

In [17]:
#Nested statement and scope
x=50
def printer():
    x=20
    return (x)

In [20]:
print(x)

50

In [23]:
print(printer())

20

In [30]:
#LEGB Rule#local #Enclosing variable #Global variable #Built in
name='This is global str'
def globalv():
    #name='sammy'
    def greet():
        name ='enclosing'
        print('HALO '+name)
    greet()  
    def hello():
        #name = 'Local'
        print('hello '+name)
    hello()

In [31]:
globalv()

HALO enclosing
hello This is global str

In [50]:
x=50
def func(x):
    print(f'X is {x}')
    
    #Local reassignment
    x=200
    print(f'I reassign X as {x}')
func(x)
print('X is still',x)

X is 50
I reassign X as 200
X is still 50

In [62]:
x = 50
 
def func(x):
    global x
    print('This function is now using global x!')
    print(f'X is {x}')
    x=200
    print('Ran func(),changed global x to',x)
    print(f'value of x(outside of func() is {x}')
    return x
func(x)

SyntaxError: name 'x' is parameter and global (<ipython-input-62-b9c05dd6773c>, line 7)

In [90]:
num = int(input('enter the num'))
res=0
for i in range(1,num):
    if num%i==0:
        res+=i
if res==num:
    print('prime')
else:
    print('not')

enter the num6
prime

In [6]:
def ran_chk(num,low,high):
    if num in range(low,high+1):
        print(f'{num} is in {low} and {high}')

In [8]:
ran_chk(5,1,6)

5 is in 1 and 6

In [14]:
def up_low(s):
    lower=0
    upper=0
    for char in s:
        if char.isupper():
            upper+=1
        elif char.islower():
            lower+=1
        else:
            pass
    print(f'orignal string: {s}')
    print(f'lowercase {lower}')
    print(f'uppercase {upper}')

In [15]:
s= 'Hi  MY name is STar li'
up_low(s)

orignal string: Hi  MY name is STar li
lowercase 11
uppercase 5

In [46]:
#better method for large files
def up_low(s):
    d={'upper':0,'lower':0}
    for char in s:
        if char.isupper():
            d['upper']+=1
        elif char.islower():
            d['lower']+=1
        else:
            pass
    print(f'orignal string: {s}')
    print(f'lowercase {d["lower"]}')
    print(f'uppercase {d["upper"]}')

In [22]:
s= 'Hi  MY name is STar li'
up_low(s)

orignal string: Hi  MY name is STar li
lowercase 11
uppercase 5

In [43]:
def unique_list(lst):
    #x=[]
    #for i in lst:
        #if i not in lst:
            #x.append(i)
    #return x
# OR
    return list(set (lst))

In [44]:
lst=[1,1,1,1,2,2,2,3,3]
unique_list(lst)

[1, 2, 3]

In [76]:
def multipy(n):
    t=1
    for i in n:
        t=t*i
        print(i)
    return t

In [77]:
multipy(lst)

1
1
1
1
2
2
2
3
3

72

In [81]:
def palindrome(s):
    # Remove string spaces
    s=s.replace(' ','')
    #check is string is === reversed version of string
    return s==s[::-1]

In [87]:
palindrome('nurses run')

True

In [115]:
import string
def is_panagram(str1,alphaset=string.ascii_lowercase):
    # create a set of alphabet
    alphaset=set(alphaset)
    print(alphaset)
    #remove any spaces from input string
    str1=str1.replace(' ','')
    print (str1)
    #convert into all lowercase
    str1=str1.lower()
    #grab all unique letter from the string set()
    str1=set(str1)
    print(str1)
    #alphabet set == string set input
    return str1 == alphaset

In [116]:
is_panagram('The quick brown fox jumps over the lazy dogs')

{'m', 'w', 'h', 'x', 'b', 'f', 'v', 'z', 'i', 'a', 'g', 'e', 'd', 'p', 'u', 'q', 'o', 's', 'j', 'y', 'r', 'n', 't', 'c', 'l', 'k'}
Thequickbrownfoxjumpsoverthelazydogs
{'m', 'w', 'h', 'x', 'b', 'f', 'v', 'z', 'i', 'a', 'g', 'e', 'p', 'd', 'u', 'q', 'o', 's', 'j', 'y', 'r', 'n', 't', 'c', 'l', 'k'}

True

In [2]:
def display(row1,row2,row3):
    print(row1)
    print(row2)
    print(row3)

In [39]:
row1=[' ',' ',' ']
row2=[' ',' ',' ']
row3=[' ',' ',' ']

In [41]:
row1[2]='y'
row3[0]=2
row2[1]='x'
display(row1,row2,row3)

[' ', ' ', 'y']
[' ', 'x', ' ']
[2, ' ', ' ']

In [22]:
result=int(input('enter a value'))

enter a value3

In [25]:
type(result)

int

In [54]:
position_index=int(input('enter a value: '))

enter a value: 0

In [60]:
print(row3)
row3[position_index]

[2, ' ', ' ']

2

In [61]:
def user_choice():
    choice=input('enter a no')
    return int(choice)

In [64]:
user_choice()

enter a no2

2

In [2]:
def user_choice():
    #variable
    
    #initial values
    choice='wrong'
    acceptable_range=range(0,10)
    within_range=True
    
    #two condition to check
    #digit or within_range==False
    #is digit func check whether the number is digit or not
    while choice.isdigit()==False or within_range==False:
        choice=input('enter a no: ')
        
        #digit check 
        
        if choice.isdigit()==False:
            print('sorry not a digit')
        #range check
        if choice.isdigit()==True:
            if int(choice) in acceptable_range:
                within_range=True
            elif print('out of range'):
                within_range=False
            else:
                print('chal be')
    return int(choice)

In [5]:
user_choice()

enter a no: y
sorry not a digit
enter a no: 99
out of range
chal be

99

In [31]:
game_list=[0,1,2]

In [32]:
def display_game(game_list):
    print('here is curr list')
    print(game_list)

In [33]:
display_game(game_list)

here is curr list
[0, 1, 2]

In [34]:
def position_choice():
    choice='wrong'
    acceptable_range=[0,1,2]
    within_range=False
    while choice.isdigit()==False or within_range==False:#while loop wil keep asking for input until both of them becomes True
        choice=input("pick a no: ")
        if choice.isdigit()==False:
            print('not a number')
        if choice.isdigit()==True:
            if int(choice) in acceptable_range:
                   within_range=True
            elif print('out of range'):
                within_range=False
            else:
                print('chal be')
    return int(choice)

In [35]:
position_choice()

pick a no: 1

1

In [36]:
def replacement_choice(game_list,position):
    user_placement=input('type a string to place at position')
    game_list[position]=user_placement
    return game_list

In [37]:
replacement_choice(game_list,1)

type a string to place at positiontest

[0, 'test', 2]

In [39]:
def gameon_choice():
    choice='wrong'
    while choice not in ('Y','N'):
        choice=input('keep plaing ?(Y or N)')
        if choice not in['y','N']:
            print('soory choose Y or N')
    if choice =='Y':
        return True
    else:
        return False

In [42]:
gameon_choice()

keep plaing ?(Y or N)Y
soory choose Y or N

True

In [45]:
game_on =True
game_list=[0,1,2]
while game_on:
    display_game(game_list)
    position=position_choice()
    game_list=replacement_choice(game_list,position)
    display_game(game_list)
    game_on=gameon_choice()

here is curr list
[0, 1, 2]
pick a no: 6
out of range
chal be
pick a no: 1
type a string to place at positionhgtyf
here is curr list
[0, 'hgtyf', 2]
keep plaing ?(Y or N)Y
soory choose Y or N
here is curr list
[0, 'hgtyf', 2]
pick a no: 1
type a string to place at positionoo
here is curr list
[0, 'oo', 2]
keep plaing ?(Y or N)N